
@import url('https://fonts.googleapis.com/css?family=Dosis|Russo+One');

body {
  padding: 0;
  margin:0;
  font-family: 'Dosis', sans-serif;
 
 
}
.sldrtxt{
font-size: 20px;
opacity: 0;
position: fixed;
z-index: 9999999999999999999999999;
transition: all 300ms  ease 600ms
}

.un{
bottom: 2%;
left: 50%;
transform: translateX(-50%);
opacity: 1;
font-size: 37px;
text-align: center
}

.deux{
  width: 300px;
  top: 50%;
  right: 20%;
  transform: translateY(-50%);
  opacity: 1;
  font-size: 37px;
text-align: left
  }
  .troir{
    
   
    left: 20%;
    

    width: 300px;
    top: 50%;
    
    transform: translateY(-50%);
    opacity: 1;
    font-size: 37px;
  text-align: right

  }
.hmbg{
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top:0;
  z-index: -99999;
  transition: background 1000ms ease;
  
}
.yellow{
  background: #fcd41b;
}
.white{
  background: #F7F7F8
}
.green{
background: #21ffa3;
}
.hmPg img{
  width:33.3%;
}
.hmPg{
 position: absolute;
  text-align: center;
  left: 0;
  top: 20%;
  width: 300%;
  height: auto;
  transition: margin-left 1000ms ease-in-out;
}
.img1{
  margin-left: 0%;
}
.img2{
  margin-left: -100%;
}
.img3{
  margin-left: -200%;
}
.but{
 position: fixed;
 bottom: 3%;
 left: 3%;
}
.Nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: rgba(254, 254, 254, 0.8);
  width: 100%;
  height: 70px;
  box-shadow: 3px 0px 4px rgba(0, 0, 0, 0.4);
  line-height: 80px;
  position: fixed;
  top:0;
  left: 0;
} 
.logo img{
  margin-top: 10px;
  margin-left: 30px;
height: 50px;
width: auto;
}
.links{
  text-align: right;
  margin-right: 30px;
}
.links a{
 
  text-decoration: none;
  margin-right: 10px;
  font-size: 13px;
  color: #000;

}
.container{
  margin-top: 80px;
}

.abt img{
  width: 75%;
}
.abttxt{
  position: fixed;
  right: 0;
  bottom: 13%;
  width: 30%;
  margin-right: 70px;
  color: gray;
  font-family: 'Dosis', sans-serif;
}
.abttxt h1{
  font-family: 'Rusos+one', sans-serif;
  color: magenta;
}
.hwImg img{
  width: 70%;
}

.author{
  background: #fcd41b;
  height: 100vh;
}
.authorBg{
  background-image: url('authr.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.authorBtn{
  position: fixed;
  right: 10%;
  bottom:10%;
}
.authorBtn a{
 
  text-decoration: none;
  color: rebeccapurple;
  padding: 12px 20px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 500ms ease-in-out;

}
.authorBtn > a:first-of-type {
  background-color: rebeccapurple;

  margin-right: 20px;
  color: #000;
  
}
.authorBtn a:hover{

  color: #000;
  background: #fcd41b;
  border: none
}
.authorTxt{
  position: fixed;
  right: 8%;
  bottom: 25%;
  color: rebeccapurple;
}

.nwBkr{
  background: #fcd41b;
  position: fixed;
  top: 13%;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
 overflow: hidden;
  padding-bottom:50px;
}

.nwBkr form{
  width: 300%;
 
  margin: auto;

}
.nwBkr input, .nwBkr textarea, .edtBk input, .edtBk textarea{
  display: block;
  width: 100%;
  border: none;
  box-shadow: 3px 2px 4px rgba(68, 67, 67, 0.8);
  padding: 0 10px;
}
.nwBkr input, .edtBk input{
  height: 60px;
  margin-bottom: 30px
}
.nwBkr textarea, .edtBk textarea{
  height: 200px;
}
.nwBkr h1{
  text-align: center
}
.nwBkrNav{
  text-align: center
}
.one{
  margin-left: 0 !important 
}
.two{
  margin-left: -100% !important
}
.three{
  margin-left: -200% !important
}


.nwBkr input:hover, .nwBkr textarea:hover, .edtBk input:hover, .edtBk textarea:hover{
  box-shadow: 1px 1px 2px rgba(68, 67, 67, 0.8)
}

.nwBkr input:focus, .nwBkr textarea:focus{
  border: #000 thin solid;
  background: #f5f5f5
}

form div{
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.nwBkr form{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  margin-left:0;
  transition: all 500ms ease-in-out 150ms
}
.bkLstBg{
  position: fixed;
  top: 12%; 
  left: 0 ;
  width:  100%;
  height: 100%;
  background: #ffffff;
  overflow: scroll;

}
.bkLst{
  width: 60%;
 transform: translateX(-50%);
  position: absolute;
  top: 20%;
  left: 50% ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.bkLst img{
  width: 70%;
}
.edtBk{
  width: 70%;
  margin: auto;
}
.edtBk input, .edtBk textarea{
display: block;
width: 70%;
background: #f5f5f5
}

.cvrImg{
  position: fixed;
top:30%;
right: 10%;
z-index: 9999999999999999;
}

.controls{
  position: fixed;
  top:20%;
  right: 4%;
  z-index: 9999999999999999;
  
  width: 25%;
}
.controls img{
  width: 60%;
  display: block;
  margin-bottom: 20px;
}
.vwBk{
  width: 50%;
  min-height: 500px;
  margin-top: 110px;
  background: #f5f5f5c2;
  padding: 70px;
  margin-left: 40px;
}
